.fundoDoModal {
    background-color: var(--bg-modal);
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.formModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px 0;
    gap: 10px;
}


.modalAtualizar input{
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
}

.modalAtualizar select{
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
    color: gray;
}

.modalAtualizar label{
    display: flex;
    align-self: start;
    padding-left: 100px;
    margin-bottom: 5px;
}

.modalDeletar{
    display: flex;
    gap: 10px;
}

.modalAtualizar button{
    margin-top: 20px;
    width: 300px;
}

.modal {
    background-color: var(--brand-1);
    width: 95%;
    max-width: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    border-radius: 8px;
    padding: 50px 0 30px;
    animation: modalAnimation 1s ease;
    position: relative;
}

.bgModal{
    width: 100%;
    max-width: 520px;
    background-color: var(--modal);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgModal button {
    min-width: 300px;
    max-width: 343px;
}

.fecharModal {
    width: 36px;
    height: 36px;
    background-image: url('../assets/img/close.svg');
    background-position: center;
    background-color: var(--brand-100);
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 13px;
    font-size: var(--font-size-text1);
}


.bgModal h2{
    font-size: 20px;
    color: var(--brand-1);
    font-weight: 700;
    margin-bottom: 20px;
}


@keyframes modalAnimation {
    0% {
        opacity: 0;
        transform: translateY(-60%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}